<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app1</title>
    <link rel="stylesheet" href=" {% static 'css/mystyle.css'%} "/>
</head>
<body>
    <h1>hello is this in red</h1>

    <a href="{% url 'admin:index'%}">admin page</a>
    <br>
    <div class="django2">
        {% if access_records %}
            <table>
                <thead>
                    <th>Site name</th>
                    <th>Date Accessed</th>
                </thead>
                {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.name}}</td>
                        <td>{{acc.date}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No access records found</p>
        {% endif %}
    </div>
</body>
</html>